header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #bbe1ff;
  border-bottom: 2px solid #4658b8;
  color: #000;

  h1 {
    margin: 0;
  }
}
