.delete-dialog-container {
  padding: 12px;
  width: 350px;

  .dialog-header {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;

    mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
    }

    h2 {
      padding: 0;
      font-weight: 500;
    }
  }

  mat-dialog-content {
    padding: 1rem 1.5rem;
    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  mat-dialog-actions {
    padding: 16px 0 0 0;
    margin: 5px auto;
    display: block;

    button {
      margin-left: 8px;
    }
  }
}

.delete-icon {
  display: block;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .delete-dialog-container {
    width: 90%;
    padding: 16px;
  }
}
