<div class="dialog-container">
  <h2 mat-dialog-title>
    <mat-icon>edit</mat-icon>
    Tagging
  </h2>

  <mat-dialog-content>
    <div class="tags-section">
      <mat-label>{{title}}</mat-label>
      <mat-label>{{description}}</mat-label>

      <mat-form-field appearance="outline">
        <mat-label>Add Tags</mat-label>
        <input matInput [(ngModel)]="newTag" (keydown.enter)="addTag($event)" placeholder="Type and press Enter">
      </mat-form-field>

      <div class="tags-list">
        <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
          {{ tag }}
          <button matChipRemove>
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="saveChanges()">
      Update
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>